*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #d9f7e6;
}
.container{
    width: 700px;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fafafa;
    border: 2px solid #1f2d2d;
}
.container button{
    display: block;
    outline: none;
    background: none;
    cursor: pointer;
}
.container header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #1f2d2d;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.container header a{
    display: block;
    color: #1f2d2d;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
    margin: 0 10px;
}
.container header a:hover{
    color: #2bb673;
}
.container header a:active{
    color: #f9aa33;
}
.container header a.svg button{
    background: none;
    border: none;
}
.container header a.svg button svg *{
    transition: .1s;
}
.container header a.svg button:hover svg line{
    stroke: #2bb673;
}
.container header a.svg button:active svg line{
    stroke: #f9aa33;
}

.container main{
    width: 100%;
    padding: 20px 10px;
}
.container main form{
    display: grid;
    row-gap: 15px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    vertical-align: middle;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container main form input, .container main form textarea{
    font-size: 20px;
    width: 400px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.container main form input:focus, .container main form textarea:focus{
    outline: 1px solid #1f2d2d;
}
.container main form .i23{
    grid-column: 1 / span 2;
}
.container main form .i23 input{
    width: initial;
}
.container main form .i23 .jours{
    display: flex;
    justify-content: space-between;
}
.container main form button{
    grid-column: 1 / span 2;
    width: fit-content;
    font-size: 20px;
    padding: 5px 10px;
    color: #fafafa;
    background: #2bb673;
    border: 2px solid #1f2d2d;
    border-radius: 10px;
    transition: .1s;
}
.container main form button:hover{
    color: #f9aa33;
    background: #1f2d2d;
}
.container main form button:active{
    color: #1f2d2d;
    background: none;
}