<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/icon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/container.css}">
	<link rel="stylesheet" th:href="@{/header.css}">
	<link rel="stylesheet" th:href="@{/profileSecretaire.css}">
    <title>MedTime</title>
</head>
<body>
    <div class="container">
        <header>
			<h2 th:if="${session.Nom != null}" th:text="'Bonjour ' + ${session.Nom}"></h2>
            <ul>
                <li><a th:href="@{/login/acceuil}">Les rendez-vous</a></li>
                <li th:if="${session.role == 'medcin'}"><a th:href="@{/Secretaires/ListeSecretaires}">Secrétaires</a></li>
                <li><a th:href="@{/Vacances/listeVacance}">Vacances</a></li>
				<li th:if="${session.role == 'medcin'}"><a th:href="@{/Medcins/ProfileMedcin}">Profile</a></li>
				<li th:if="${session.role == 'secretaire'}"><a th:href="@{/Secretaires/ProfileSecretaire/{id}(id=${session.user.id})}" class="selected">Profile</a></li>
            </ul>
            <a th:href="@{/login/logout}"><button type="button">Deconnecter</button></a>
        </header>
		<main th:object="${secretaire}">
            <div class="information">
                <div class="s">
                    <div>
                        <p><b>Nom:</b></p>
                        <p th:text="*{nom}"  style="text-transform: capitalize;"></p>
                    </div>
                    <div>
                        <p><b>Prénom:</b></p>
                        <p th:text="*{prenom}" style="text-transform: capitalize;"></p>
                    </div>
                </div>
                <div class="s">
                    <div>
                        <p><b>Email:</b></p>
                        <p th:text="*{email}"></p>
                    </div>
                    <div>
                        <p><b>Téléphone:</b></p>
                        <p th:text="*{telephone}"></p>
                    </div>
                </div>
            </div>
        </main>
		<h2 th:if="${erreur}" th:text="${erreur}"></h2>
        <footer></footer>
    </div>
</body>
</html>