<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/icon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/container.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/acceuil.css}">
    <title>MedTime</title>
</head>
<body>
    <div class="container">
        <header>
            <h2 th:if="${session.Nom != null}" th:text="'Bonjour ' + ${session.Nom}"></h2>
            <ul>
                <li><a th:href="@{/login/acceuil}">Les rendez-vous</a></li>
                <li th:if="${session.role == 'medcin'}"><a th:href="@{/Secretaires/ListeSecretaires}">Secrétaires</a></li>
                <li><a class="selected" th:href="@{/Vacances/listeVacance}">Vacances</a></li>
                <li th:if="${session.role == 'medcin'}"><a th:href="@{/Medcins/ProfileMedcin}">Profile</a></li>
				<li th:if="${session.role == 'secretaire'}">
                    <a th:href="@{/Secretaires/ProfileSecretaire/{id}(id=${session.user.id})}">Profile</a>
                </li>
            </ul>
            <a th:href="@{/login/logout}"><button type="button">Deconnecter</button></a>
        </header>
        <main>
            <table>
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                </tr>
                <tr th:each="Vac : ${allVacances}">
                    <td class="date" th:text="${Vac.dateDebut}"></td>
                    <td class="date" th:text="${Vac.dateFin}"></td>
                    <td th:if="${session.role == 'medcin'}"><form th:action="@{/Vacances/FormModifierVacance/{id}(id=${Vac.id})}" method="get">  
                        <button type="submit">Editer</button>
                    </form></td>
                    <td th:if="${session.role == 'medcin'}"><form th:action="@{/Vacances/SupprimerVacance/{id}(id=${Vac.id})}" method="get">
                        <button type="submit">Supprimer</button>
                    </form></td>
                </tr>
            </table>
			<div th:if="${session.role == 'medcin'}"><a th:href="@{/Vacances/FormAjouterVacance}"><button>Ajouter vacance</button></a></div>
            
        </main>
		<h2 th:if="${erreur}" th:text="${erreur}"></h2>
        <footer></footer>
    </div>
</body>
</html>